.input{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    align-items: baseline;
    border: none;
    margin-bottom: 10px;
}
.main-container{
    width: 50%;
    margin: auto;
   
    background-color: lightgray;
   

}
.plus-btn{
    width: 5%;
    height: 50px;
    border-radius: 10px;
    background-color: teal;
    color: white;
    border: none;
    margin-bottom: 10px;
}